In [153]:
import pandas as pd
data = pd.read_csv('lsd_math_score_data.csv')

In [154]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [155]:
type(data)

pandas.core.frame.DataFrame

In [156]:
onlyMathScores = data['Avg_Math_Test_Score']

In [157]:
print(onlyMathScores)

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [158]:
data['Test_Subjects'] = 'Jennifer Lopez'

In [159]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score   Test_Subjects
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

In [160]:
data['High_Score'] = 100
data

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,Test_Subjects,High_Score
0,5,1.17,78.93,Jennifer Lopez,100
1,15,2.97,58.20,Jennifer Lopez,100
2,30,3.26,67.47,Jennifer Lopez,100
3,60,4.69,37.47,Jennifer Lopez,100
4,120,5.83,45.65,Jennifer Lopez,100
5,240,6.00,32.92,Jennifer Lopez,100
6,480,6.41,29.97,Jennifer Lopez,100

In [161]:
data['High_Score'] = data['High_Score'] + data['Avg_Math_Test_Score'] 
data

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,Test_Subjects,High_Score
0,5,1.17,78.93,Jennifer Lopez,178.93
1,15,2.97,58.20,Jennifer Lopez,158.20
2,30,3.26,67.47,Jennifer Lopez,167.47
3,60,4.69,37.47,Jennifer Lopez,137.47
4,120,5.83,45.65,Jennifer Lopez,145.65
5,240,6.00,32.92,Jennifer Lopez,132.92
6,480,6.41,29.97,Jennifer Lopez,129.97

In [162]:
data['High_Score'] = data['High_Score'] * data['High_Score']
data

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,Test_Subjects,High_Score
0,5,1.17,78.93,Jennifer Lopez,32015.9449
1,15,2.97,58.20,Jennifer Lopez,25027.2400
2,30,3.26,67.47,Jennifer Lopez,28046.2009
3,60,4.69,37.47,Jennifer Lopez,18898.0009
4,120,5.83,45.65,Jennifer Lopez,21213.9225
5,240,6.00,32.92,Jennifer Lopez,17667.7264
6,480,6.41,29.97,Jennifer Lopez,16892.2009

In [163]:
type(onlyMathScores)

pandas.core.series.Series

In [164]:
columnList = ['LSD_ppm', 'Avg_Math_Test_Score']

In [165]:
columnList = data[columnList]

In [166]:
print(columnList)

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [167]:
columnList = data[['LSD_ppm', 'Avg_Math_Test_Score']]

In [168]:
columnList

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [169]:
Y = data[['Avg_Math_Test_Score']]
type(Y)

pandas.core.frame.DataFrame

In [170]:
X = data[['LSD_ppm']]
type(X)

pandas.core.frame.DataFrame

In [171]:
del data['Test_Subjects']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_Score
0                      5     1.17                78.93  32015.9449
1                     15     2.97                58.20  25027.2400
2                     30     3.26                67.47  28046.2009
3                     60     4.69                37.47  18898.0009
4                    120     5.83                45.65  21213.9225
5                    240     6.00                32.92  17667.7264
6                    480     6.41                29.97  16892.2009

In [172]:
del data['High_Score']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [2]:
import life as hitchhikerGuide

In [174]:
type(hitchhikerGuide)

module

In [175]:
hitchhikerGuide.theAnswer

42

In [176]:
import math
math.pi

3.141592653589793

In [177]:
math.e

2.718281828459045

In [178]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [179]:
def get_milk():
    print('Open door')
    print('Walk to the store')
    print('Buy milk on the ground floor')
    print('Return with mil galore')

In [180]:
get_milk()

Open door
Walk to the store
Buy milk on the ground floor
Return with mil galore

In [181]:
def times(x, y):
    #result = x * y
    return x * y

In [182]:
test = times(3.14, 5.09)
print(test)

15.9826

In [183]:
times('Ni', 4)

'NiNiNiNi'

In [4]:
hitchhikerGuide.quote_marvin()
hitchhikerGuide.square_root(9)

I have calculated your chance of survival, but I dont think you will like it.

3.0